/* Typogrpahy */
body { font-family: arial, verdana, sans-serif; font-size: 10pt; }
#nav { list-style-type: none; }
#nav a { text-decoration: none; }
#nav a:hover { text-decoration: underline; }

/* Color */

/* Layout */
body { margin: 1em auto;  width: 800px; }
#chart { width: 800px; height: 500px;  }

#nav { margin: 0; padding: 0; text-align: right; }
#nav li { display: inline; padding-right: 1em;  }
