/* Color */
body           { color: gray; }
#trust         { background-color: whitesmoke; }
h1,h3,em       { color: black; }
.modal         { background-color: whitesmoke;  opacity: 0.8; z-index: 10; }
.dialog        { opacity: 0.9; border: thin outset gray; background-color: white; color: black; z-index: 20; }
.dialog h3     { margin: 0; background-color: AliceBlue; color: black; }
.dialog .error   { background-color: mistyrose; }
.dialog.success h3 { background-color: PaleGreen; }
.dialog form fieldset { border: none; }
dd.benefit { background: url('../images/tick.png') no-repeat 0% 10%; }
#screenshots ol { font-style: italic; }
#screenshots { border-left: thin dotted gray; }
#screenshots pre { color: black; }

/* Typography */
body        { font-size: 10.5pt; font-family: verdana, sans-serif; }
h1, h2, #call2action, #trust, .dialog
            { font-family: helvetica, arial, sans-serif; }
h1,h2,h3      { letter-spacing:-1px; }
h2          { font-weight: normal; }
#headline   { font-size: 2.4em; }
#tagline    { font-size: 1.6em; }
#trust      { font-size: 12pt; }
#copy em    { font-style: normal; }
.dialog form.error p  { font-weight: bold; }
#screenshots ol { list-style-type: none; }
#screenshots pre { font: normal normal 10pt/1.6em "andale mono", sans-serif }

/* Layout */
body           { min-width: 950px; margin: 0; }
#copy,#trust,h1,h2
               { padding-left: 1%; }
h1             { padding-top: 1%; }
h1,h2          { margin: 0; }
h2             { padding-bottom: 1em; }
#tagline       { margin-bottom: 0.6em; }
#call2action   { font-size: 1.6em; }
#copy          { width: 48%; float:left; }
#copy p:first-child {  margin-top: 0; }
#screenshots   { width: 48%; float:right; padding-left: 1em; }
#screenshots > * { margin: 0; padding: 0;  }
#screenshots ol li { margin-top: 1.6em; }

#trust         { clear: both; padding: 1em 1%; margin-top: 4em; }
dt             { margin: 2.4em 0 0.6em 0; }
dd             { margin-bottom: 1em; }
dd ol          { padding-left: 1em; }
table.contact  { width: 61.2%; border-collapse: collapse; }
table.contact caption
               { text-align: left; margin-bottom: 0.6em; }
.modal         { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.dialog        { position: fixed; top: 9%; left: 28%; width: 38.8%; }
.dialog > *    { padding-left: 9%; padding-right: 0.6em; }
.dialog h3     { padding: 0.6em; padding-left: 9%; }
.dialog form   { padding: 0 0 1.6em 0; }
.dialog form fieldset { padding: 1em 9%; margin: 0; }
.dialog form button  { margin: 1em 0 0 9%; }

.dialog input[type='text'], .dialog input[type='password'] { padding: 5px; display: block; }
.dialog label  { display: block; }
.dialog p.error { padding: 1em 9%; }
dd.benefit { padding-left: 1.6em; margin: 1em 0.6em; }
