/* Layout */
body { margin: 0; padding: 0; min-width: 950px; margin-left: 4em; }

.call_to_action { position: relative; height: 40em; margin-top: 4em; }
.call_to_action .pitch { width: 48%; position: absolute; top: 0; left: 0; }
.call_to_action img { position: absolute; top: 10%; left: 55%;  }

.signup, .error { text-align: center; padding: 1.6em; }

/* Color */
fieldset { border: none; background-color: lemonchiffon; }
.header { color: gray; }
.signup { background-color: palegreen; }
.error { background-color: mistyrose; }

/* Typogrpahy */
body { font-family: verdana, sans-serif; font-size: 10pt; }
body * { font-weight: normal; }
em { font-weight: bold; font-style: normal; }
