<div class='modal'>
</div>

<div class='dialog'>
   <h3>Thanks for signing up for 30-day free trial</h3>
   <p>
      We'll email your account details as soon as they're ready. 
      should be set up by mid May 2010.
   </p>
</div>
