<%# TODO: fix z-index issue and nest dialog inside modal div -%>
<div class='modal'>
</div>

<div class='dialog'>
   <h3>Sign up for 30-day free trial</h3>
   <p>
      Join our early access program. Fill in your email address and we'll send 
      your login details. Your account should be set up by mid May 2010.
   </p>
   
   <% form_for(Lead.new, :html => { :class => error_css_for(@lead) }) do |lead_form| -%>
      <%= error_message_for @lead -%>
   
      <label>Email: </label>
      <%= lead_form.text_field :email_address %>
      
      <button>Notify me</button> or <%= link_to 'Cancel', root_path %>.
   <% end -%>
   
   <dl>
      <dt>How does the 30-day free trial work?</dt>
      <dd>
         You have full use of our metrics application for 30 days with no 
         obligation to buy.
      </dd>
      
      <dt>How much will it cost after the trial period expires?</dt>
      <dd>$9 per month with an unlimited number of user accounts.</dd>
   </dl>
   
   <p>Email <%= contact_email %> with any more questions.</p>
</div>
