<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
   <head>
      <title>Website sales conversion dashboard</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/petri.css" />
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   </head>
   <body>
      <div class='header'>
         <h1>Website sales conversion dashboard</h1>
         <h2>Who's staying, paying or leaving your online business ?</h2>
      </div>
      
      <%= content_tag(:div, flash[:notice], :class => "signup") if flash[:notice] %>
      <%= content_tag(:div, flash[:error], :class => "error") if flash[:error] %>
      
      <div class='call_to_action'>
         <div class='pitch'>
            <p>
               Record web sites monetisation events 
               so you can make <em>informed decisions</em> about your business.
            </p>
            
            <p>
               Just copy a small code snippet into your web page &amp;
               then view your sales funnel &amp; conversions online in real time.
            </p>
            
            <% form_for Lead.new do |form| %>
               <fieldset>
                  <legend>Sign up for a <em>free one month trial</em></legend>
   
                  <p>There is no obligation to purchase after your free trial expires.
                  If you wish to continue using our product, our pricing is $9 per month.</p>
                  
                  <p>
                     We'll send your login details as soon as it's ready.
                  </p>
                  
                  <label>Your email address</label>
                  <%= form.text_field :email_address %>
                  <button>Sign me up</button>
                  
                  <p>
                     We promise to safegaurd your email address. If you've any concerns contact 
                     <a href="http://www.keithmcdonnell.net">Keith</a> 
                     by phone: + 353 87 127 3927 
                     or email 
                     <a href="mailto:&#107;&#101;&#105;&#116;&#104;&#64;&#100;&#97;&#110;&#99;&#105;&#110;&#103;&#116;&#101;&#120;&#116;&#46;&#99;&#111;&#109;">&#107;&#101;&#105;&#116;&#104;&#64;&#100;&#97;&#110;&#99;&#105;&#110;&#103;&#116;&#101;&#120;&#116;&#46;&#99;&#111;&#109;</a>
                  </p>
               </fieldset>
            <% end -%>
         </div>
         
         <img src="images/data_page_2.png" alt="screenshot of data page" />
      </div>
      
      <div class='footer'>
         <p>Copyright &copy; 2010, DancingText Ltd</p>
      </div>
      
      <script type="text/javascript">
         var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
         document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
         try {
         var pageTracker = _gat._getTracker("UA-8421111-2");
         pageTracker._trackPageview();
         } catch(err) {}
      </script>
   </body>
</html>