<div class='modal'>
</div>

<div class='dialog'>
   <h3>Log in to your account</h3>
   
   <% if flash[:error] -%>
      <p class='error'>
         Sorry, we can&apos;t find that email &amp; password.
         Please try again.
      </p>
   <% end -%>
   
   <% form_for @user_session do |user_form| -%>
      <fieldset>
         <label>Email</label>
         <%= user_form.text_field :email %>
      </fieldset>
      
      <fieldset>
         <label>Password</label>
         <%= user_form.password_field :password %>
      </fieldset>
      
      <button>Log in</button> or <%= link_to 'Cancel', root_path %>
   <% end -%>
</div>
