<table>
   <% @events.group_by {|e| e.name }.each_with_index do |event,index| -%>
      <tr class="event_<%= index %>">
      <td><%= event.first %></td>
      <td><%= event.last.count %></td>
   <% end -%>
</table>

