<script type="text/javascript" src="amstock/swfobject.js"></script>

<ol id='nav'>
   <li>
      <a href="#">Add event</a>
   </li>
</ol>

<div id="chart">
   <p>You need to upgrade your Flash Player</p>
</div>

<script type="text/javascript">
// <![CDATA[		
   var so = new SWFObject("amstock/amstock.swf", "amstock", "800", "500", "8", "#FFFFFF");
   so.addVariable("settings_file", "/reports.xml");
   so.write("chart");
// ]]>
</script>
