<script type="text/javascript" src="/swfobject.js"></script>

<ol id='nav'>
   <li>
      <%= link_to 'Add event', new_report_path %>
   </li>
   <li>
      <%= link_to 'Download CSV', report_path(:id => params[:id], :format => :csv) %>
   </li>
</ol>

<div id="chart">
   <p>You need to upgrade your Flash Player</p>
</div>

<script type="text/javascript">
// <![CDATA[		
   // Heroku has a problem loading swf files so amstock.swf renamed to amstock.html
   var so = new SWFObject("/amstock.html", "amstock", "800", "500", "8", "#FFFFFF");
   so.addVariable("settings_file", "/reports/<%= params[:id] %>.xml");
   so.write("chart");
// ]]>
</script>

<ol class='help'>
   <li>Hover over plot line for daily totals</li>
   <li>Click name on left to toggle data</li>
   <li>Drag diamonds on bottom left &amp; right to change time scale</li>
</ol>

<%= metrixapp_log "Dashboard view" %>
