<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
   <title>Petri online sales</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/data_page.css" />
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   </head>
   <body>
      <ol class="nav">
         <li class="name">Petri online sales</li>
         <li><a href="#">Help</a></li>
         <li><a href="#">New event</a></li>
         <li><a href="#">Logout</a></li>
      </ol>
      
      <%= yield %>   
   </body>
</html>
